<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Careify</title>
</head>
<body>
    
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
    <div class="container-fluid">
      <svg xmlns="http://www.w3.org/2000/svg" width="176" height="108" fill="none" viewBox="0 0 356 108">
        <path fill="#08376B" d="M139.962 88.1h2.21V100h-2.21V88.1Zm-6.154 11.9h-2.21V88.1h2.21V100Zm6.324-5.1h-6.511v-1.887h6.511V94.9Zm9.292 5.219c-1.009 0-1.893-.198-2.652-.595a4.505 4.505 0 0 1-1.751-1.666c-.408-.703-.612-1.502-.612-2.397 0-.907.198-1.706.595-2.397a4.39 4.39 0 0 1 1.666-1.649c.714-.397 1.524-.595 2.431-.595.884 0 1.671.193 2.363.578a4.19 4.19 0 0 1 1.632 1.632c.396.703.595 1.53.595 2.482 0 .09-.006.193-.017.306 0 .113-.006.221-.017.323h-7.565V94.73h6.443l-.833.442c.011-.521-.097-.98-.323-1.377a2.476 2.476 0 0 0-.935-.935c-.386-.227-.833-.34-1.343-.34-.522 0-.981.113-1.377.34a2.464 2.464 0 0 0-.918.952c-.216.397-.323.867-.323 1.411v.34c0 .544.124 1.026.374 1.445.249.42.6.742 1.054.969.453.227.974.34 1.564.34.51 0 .969-.08 1.377-.238a2.94 2.94 0 0 0 1.088-.748l1.139 1.309a4.068 4.068 0 0 1-1.547 1.105c-.612.25-1.315.374-2.108.374Zm11.652-.119v-1.836l-.119-.391V94.56c0-.623-.187-1.105-.561-1.445-.374-.351-.941-.527-1.7-.527-.51 0-1.014.08-1.513.238-.487.159-.901.38-1.241.663l-.833-1.547a4.928 4.928 0 0 1 1.734-.833 7.696 7.696 0 0 1 2.108-.289c1.315 0 2.329.317 3.043.952.725.623 1.088 1.592 1.088 2.907V100h-2.006Zm-2.856.119c-.68 0-1.275-.113-1.785-.34-.51-.238-.907-.561-1.19-.969a2.537 2.537 0 0 1-.408-1.411c0-.51.119-.969.357-1.377.249-.408.652-.731 1.207-.969s1.292-.357 2.21-.357h2.635v1.411h-2.482c-.725 0-1.213.119-1.462.357-.249.227-.374.51-.374.85 0 .385.153.691.459.918.306.227.731.34 1.275.34.521 0 .986-.119 1.394-.357.419-.238.72-.59.901-1.054l.357 1.275c-.204.533-.572.946-1.105 1.241-.521.295-1.184.442-1.989.442Zm7.589-.119V87.386h2.125V100h-2.125Zm8.779.119c-.997 0-1.768-.255-2.312-.765-.544-.521-.816-1.286-.816-2.295v-8.143h2.125v8.092c0 .43.108.765.323 1.003.227.238.539.357.935.357.476 0 .873-.125 1.19-.374l.595 1.513a2.492 2.492 0 0 1-.918.459 4.117 4.117 0 0 1-1.122.153Zm-4.624-7.429v-1.7h6.052v1.7h-6.052Zm13.563-1.87c.726 0 1.372.142 1.938.425a3.09 3.09 0 0 1 1.36 1.309c.329.578.493 1.326.493 2.244V100h-2.125v-4.93c0-.805-.192-1.405-.578-1.802-.374-.397-.901-.595-1.581-.595-.498 0-.94.102-1.326.306-.385.204-.685.51-.901.918-.204.397-.306.901-.306 1.513V100h-2.125V87.386h2.125v5.984l-.459-.748a3.185 3.185 0 0 1 1.377-1.326c.612-.317 1.315-.476 2.108-.476Zm7.069 12.597a4.18 4.18 0 0 1-1.326-.221 3.137 3.137 0 0 1-1.105-.612l.85-1.564c.215.193.459.346.731.459.272.113.55.17.833.17.385 0 .697-.096.935-.289.238-.193.459-.516.663-.969l.527-1.19.17-.255 3.434-8.024h2.04l-4.25 9.809c-.283.68-.601 1.218-.952 1.615-.34.397-.725.674-1.156.833a3.903 3.903 0 0 1-1.394.238Zm1.87-3.094-4.097-9.401h2.21l3.332 7.837-1.445 1.564Zm10.429-.323 5.355-11.9h2.176l5.372 11.9h-2.312l-4.607-10.727h.884L205.173 100h-2.278Zm2.465-2.754.595-1.734h6.426l.595 1.734h-7.616Zm15.779 6.171c-.839 0-1.66-.113-2.465-.34-.793-.215-1.445-.533-1.955-.952l.952-1.598c.397.329.895.589 1.496.782.612.204 1.23.306 1.853.306.997 0 1.728-.232 2.193-.697.465-.453.697-1.139.697-2.057v-1.615l.17-2.057-.068-2.057v-2.21h2.023v7.701c0 1.643-.419 2.85-1.258 3.621-.839.782-2.051 1.173-3.638 1.173Zm-.272-3.825c-.861 0-1.643-.181-2.346-.544a4.333 4.333 0 0 1-1.649-1.547c-.397-.657-.595-1.428-.595-2.312 0-.873.198-1.638.595-2.295a4.206 4.206 0 0 1 1.649-1.53c.703-.363 1.485-.544 2.346-.544.771 0 1.462.153 2.074.459.612.306 1.099.782 1.462 1.428.374.646.561 1.473.561 2.482 0 1.009-.187 1.842-.561 2.499-.363.646-.85 1.128-1.462 1.445-.612.306-1.303.459-2.074.459Zm.323-1.802a3.08 3.08 0 0 0 1.428-.323c.419-.227.742-.533.969-.918.238-.397.357-.85.357-1.36 0-.51-.119-.958-.357-1.343a2.198 2.198 0 0 0-.969-.901 3.08 3.08 0 0 0-1.428-.323 3.19 3.19 0 0 0-1.445.323 2.3 2.3 0 0 0-.986.901c-.227.385-.34.833-.34 1.343s.113.963.34 1.36c.238.385.567.691.986.918a3.19 3.19 0 0 0 1.445.323Zm7.639 2.21v-9.078h2.125V100h-2.125Zm1.071-10.574c-.397 0-.726-.125-.986-.374-.25-.25-.374-.55-.374-.901 0-.363.124-.663.374-.901.26-.25.589-.374.986-.374.396 0 .719.119.969.357a1.1 1.1 0 0 1 .391.867c0 .374-.125.691-.374.952-.25.25-.578.374-.986.374Zm8.994 1.394c.725 0 1.371.142 1.938.425.578.283 1.031.72 1.36 1.309.328.578.493 1.326.493 2.244V100h-2.125v-4.93c0-.805-.193-1.405-.578-1.802-.374-.397-.901-.595-1.581-.595a2.79 2.79 0 0 0-1.326.306 2.13 2.13 0 0 0-.901.918c-.204.397-.306.901-.306 1.513V100h-2.125v-9.078h2.023v2.448l-.357-.748a3.174 3.174 0 0 1 1.377-1.326c.612-.317 1.314-.476 2.108-.476Zm10.617 12.597c-.839 0-1.66-.113-2.465-.34-.793-.215-1.445-.533-1.955-.952l.952-1.598c.397.329.895.589 1.496.782.612.204 1.23.306 1.853.306.997 0 1.728-.232 2.193-.697.465-.453.697-1.139.697-2.057v-1.615l.17-2.057-.068-2.057v-2.21h2.023v7.701c0 1.643-.419 2.85-1.258 3.621-.839.782-2.051 1.173-3.638 1.173Zm-.272-3.825c-.861 0-1.643-.181-2.346-.544a4.333 4.333 0 0 1-1.649-1.547c-.397-.657-.595-1.428-.595-2.312 0-.873.198-1.638.595-2.295a4.206 4.206 0 0 1 1.649-1.53c.703-.363 1.485-.544 2.346-.544.771 0 1.462.153 2.074.459.612.306 1.099.782 1.462 1.428.374.646.561 1.473.561 2.482 0 1.009-.187 1.842-.561 2.499-.363.646-.85 1.128-1.462 1.445-.612.306-1.303.459-2.074.459Zm.323-1.802a3.08 3.08 0 0 0 1.428-.323c.419-.227.742-.533.969-.918.238-.397.357-.85.357-1.36 0-.51-.119-.958-.357-1.343a2.198 2.198 0 0 0-.969-.901 3.08 3.08 0 0 0-1.428-.323 3.19 3.19 0 0 0-1.445.323 2.3 2.3 0 0 0-.986.901c-.227.385-.34.833-.34 1.343s.113.963.34 1.36c.238.385.567.691.986.918a3.19 3.19 0 0 0 1.445.323Zm12.626 2.21v-9.588c0-.952.278-1.711.833-2.278.567-.578 1.371-.867 2.414-.867.374 0 .725.04 1.054.119.34.08.623.204.85.374l-.578 1.598a1.538 1.538 0 0 0-.544-.272 1.978 1.978 0 0 0-.629-.102c-.442 0-.776.125-1.003.374-.227.238-.34.6-.34 1.088v1.02l.068.952V100h-2.125Zm-1.496-7.31v-1.7h6.052v1.7h-6.052Zm11.429 7.429c-.929 0-1.756-.198-2.482-.595a4.58 4.58 0 0 1-1.717-1.666c-.419-.703-.629-1.502-.629-2.397 0-.907.21-1.706.629-2.397a4.454 4.454 0 0 1 1.717-1.649c.726-.397 1.553-.595 2.482-.595.941 0 1.774.198 2.499.595.737.397 1.309.94 1.717 1.632.42.691.629 1.496.629 2.414 0 .895-.209 1.694-.629 2.397a4.412 4.412 0 0 1-1.717 1.666c-.725.397-1.558.595-2.499.595Zm0-1.819a2.82 2.82 0 0 0 1.394-.34c.408-.227.726-.555.952-.986.238-.43.357-.935.357-1.513 0-.59-.119-1.094-.357-1.513a2.348 2.348 0 0 0-.952-.986 2.787 2.787 0 0 0-1.377-.34c-.521 0-.986.113-1.394.34a2.499 2.499 0 0 0-.952.986c-.238.42-.357.924-.357 1.513 0 .578.119 1.082.357 1.513.238.43.556.76.952.986.408.227.867.34 1.377.34Zm6.877 1.7v-9.078h2.023v2.499l-.238-.731a2.88 2.88 0 0 1 1.275-1.394c.59-.317 1.321-.476 2.193-.476v2.023a1.044 1.044 0 0 0-.255-.034 1.675 1.675 0 0 0-.238-.017c-.804 0-1.445.238-1.921.714-.476.465-.714 1.162-.714 2.091V100h-2.125Zm10.358 0 5.355-11.9h2.176l5.372 11.9h-2.312l-4.607-10.727h.884L291.634 100h-2.278Zm2.465-2.754.595-1.734h6.426l.595 1.734h-7.616ZM303.569 100V87.386h2.125V100h-2.125Zm4.914 0V87.386h2.125V100h-2.125Z"/>
        <path stroke="#08376B" stroke-width="2" d="M108 0v107.7"/>
        <path fill="#35C0ED" d="M3.526 60.646h21.741c2.204 0 3.526-.761 3.966-2.285L36.58 32.12l12.878 60.138c.588 2.742 6.023 2.704 6.709 0l12.487-45.513 2.888 11.311c.441 1.752 1.715 2.59 4.016 2.59h19c1.958 0 3.525-1.18 3.525-2.666 0-1.523-1.518-2.704-3.525-2.704H77.221L71.59 35.89c-.735-2.628-5.779-2.628-6.611.115L52.69 78.699 39.86 18.03c-.539-2.667-5.583-2.743-6.366 0L23.113 55.275H3.526C1.566 55.276 0 56.495 0 57.98c0 1.486 1.567 2.666 3.526 2.666Z"/>
        <path fill="#08376B" d="m158.54 55.26 1.8 1.62c-.52.6-1.28 1.3-2.28 2.1-1 .8-2.26 1.56-3.78 2.28-1.48.68-3.24 1.26-5.28 1.74-2 .48-4.28.72-6.84.72-4.04 0-7.52-.62-10.44-1.86-2.92-1.28-5.32-2.94-7.2-4.98a20.534 20.534 0 0 1-4.2-7.08c-.88-2.68-1.32-5.42-1.32-8.22 0-3.24.56-6.16 1.68-8.76 1.12-2.64 2.7-4.88 4.74-6.72 2.04-1.88 4.48-3.32 7.32-4.32 2.88-1 6.06-1.5 9.54-1.5 2.4 0 4.54.24 6.42.72s3.52 1.14 4.92 1.98c1.4.84 2.56 1.84 3.48 3 .96 1.16 1.74 2.42 2.34 3.78H155c-.28-.84-.78-1.66-1.5-2.46-.68-.84-1.58-1.58-2.7-2.22-1.08-.64-2.34-1.16-3.78-1.56-1.4-.4-2.96-.6-4.68-.6-2.52 0-4.86.46-7.02 1.38-2.12.92-3.96 2.2-5.52 3.84-1.56 1.64-2.78 3.6-3.66 5.88-.84 2.24-1.26 4.72-1.26 7.44 0 2.56.4 5.02 1.2 7.38.84 2.36 2.06 4.44 3.66 6.24 1.6 1.8 3.6 3.24 6 4.32s5.16 1.62 8.28 1.62c5.6 0 10.44-1.92 14.52-5.76Zm18.827-22.92c2.92 0 5.18.42 6.78 1.26 1.6.8 2.76 1.86 3.48 3.18.76 1.32 1.2 2.84 1.32 4.56.12 1.72.18 3.48.18 5.28V63h-4.86v-2.94c-1.16 1.12-2.64 2.02-4.44 2.7-1.8.64-3.6.96-5.4.96-1.72 0-3.24-.3-4.56-.9-1.32-.6-2.42-1.38-3.3-2.34a9.694 9.694 0 0 1-1.98-3.24c-.44-1.2-.66-2.42-.66-3.66 0-1.28.24-2.56.72-3.84.48-1.28 1.2-2.42 2.16-3.42.96-1.04 2.14-1.88 3.54-2.52 1.4-.64 3-.96 4.8-.96 1.8 0 3.5.36 5.1 1.08 1.64.68 2.98 1.66 4.02 2.94v-2.58c0-3.28-.5-5.72-1.5-7.32-.96-1.6-2.74-2.4-5.34-2.4-1.12 0-2.1.14-2.94.42-.84.28-1.6.68-2.28 1.2-.64.48-1.24 1.1-1.8 1.86-.56.72-1.12 1.54-1.68 2.46l-3.12-3.12c.56-.6 1.14-1.2 1.74-1.8.64-.6 1.4-1.14 2.28-1.62.92-.48 2-.86 3.24-1.14 1.24-.32 2.74-.48 4.5-.48Zm6.9 18.78c-.2-.48-.5-1.04-.9-1.68-.36-.64-.84-1.26-1.44-1.86-.6-.6-1.32-1.1-2.16-1.5-.84-.44-1.84-.66-3-.66s-2.22.24-3.18.72a7.39 7.39 0 0 0-2.46 1.8c-.64.72-1.14 1.58-1.5 2.58-.36 1-.54 2.04-.54 3.12 0 1.28.22 2.4.66 3.36a8.99 8.99 0 0 0 1.8 2.4c.72.64 1.52 1.12 2.4 1.44.88.32 1.72.48 2.52.48.76 0 1.52-.14 2.28-.42.8-.28 1.54-.66 2.22-1.14.72-.52 1.36-1.12 1.92-1.8a9.81 9.81 0 0 0 1.38-2.22v-4.62ZM198.73 33h5.1v4.8h.36c.72-1.8 1.64-3.16 2.76-4.08 1.12-.92 2.52-1.38 4.2-1.38.2 0 .5.04.9.12.44.04.9.16 1.38.36.52.16 1.02.4 1.5.72.52.32.96.72 1.32 1.2l-2.04 3.72c-.36-.52-.94-1.08-1.74-1.68-.76-.6-1.6-.9-2.52-.9-.68 0-1.38.16-2.1.48-.72.32-1.38.84-1.98 1.56-.6.72-1.1 1.66-1.5 2.82-.36 1.12-.54 2.5-.54 4.14V63h-5.1V33Zm49.55 16.32h-22.8c0 2.44.36 4.44 1.08 6 .72 1.56 1.62 2.78 2.7 3.66 1.08.88 2.24 1.5 3.48 1.86 1.28.32 2.48.48 3.6.48 1 0 1.9-.1 2.7-.3.84-.24 1.64-.56 2.4-.96.76-.4 1.5-.9 2.22-1.5.76-.6 1.56-1.26 2.4-1.98l1.92 1.92c-1.6 1.68-3.48 2.98-5.64 3.9-2.16.88-4.52 1.32-7.08 1.32-2.64 0-4.94-.44-6.9-1.32-1.92-.92-3.52-2.12-4.8-3.6a16.32 16.32 0 0 1-2.82-5.1c-.6-1.92-.9-3.88-.9-5.88 0-2.4.36-4.54 1.08-6.42.72-1.92 1.72-3.54 3-4.86 1.28-1.36 2.78-2.38 4.5-3.06 1.72-.72 3.6-1.08 5.64-1.08 1.92 0 3.74.32 5.46.96 1.72.64 3.22 1.6 4.5 2.88 1.32 1.28 2.36 2.9 3.12 4.86.76 1.96 1.14 4.28 1.14 6.96v1.26Zm-22.8-2.4h17.58c0-3.88-.8-6.92-2.4-9.12-1.56-2.24-3.76-3.36-6.6-3.36-1.48 0-2.76.36-3.84 1.08-1.08.68-1.98 1.6-2.7 2.76-.68 1.16-1.2 2.5-1.56 4.02-.32 1.48-.48 3.02-.48 4.62ZM258.013 33h5.1v30h-5.1V33Zm-.72-9.48c0-.88.32-1.64.96-2.28.64-.64 1.4-.96 2.28-.96.88 0 1.64.32 2.28.96.64.64.96 1.4.96 2.28 0 .88-.32 1.64-.96 2.28-.64.64-1.4.96-2.28.96-.88 0-1.64-.32-2.28-.96-.64-.64-.96-1.4-.96-2.28ZM271.55 33h5.22v-3.6c0-1.56.24-2.92.72-4.08.48-1.16 1.1-2.1 1.86-2.82.8-.76 1.7-1.32 2.7-1.68 1-.36 2.02-.54 3.06-.54 1.28 0 2.42.24 3.42.72 1.04.48 2.04 1.2 3 2.16l-2.64 2.82c-.4-.84-.92-1.66-1.56-2.46-.6-.8-1.38-1.2-2.34-1.2-.76 0-1.36.2-1.8.6-.4.4-.7.9-.9 1.5-.2.56-.32 1.18-.36 1.86-.04.64-.06 1.2-.06 1.68V33h7.26v2.4h-7.26V63h-5.1V35.4h-5.22V33Zm36.437 22.98h.24l9.42-22.98h2.94l-14.52 35.7c-.44 1.08-.9 2.16-1.38 3.24-.48 1.12-1.04 2.12-1.68 3-.64.92-1.38 1.66-2.22 2.22-.84.56-1.82.84-2.94.84-.8 0-1.66-.16-2.58-.48a7.4 7.4 0 0 1-2.52-1.5l2.64-4.98c.36.8.86 1.4 1.5 1.8.68.44 1.38.66 2.1.66.76 0 1.42-.28 1.98-.84.6-.56 1.08-1.3 1.44-2.22l3.18-7.8L292.147 33h5.46l10.38 22.98Z"/>
      </svg>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="Login">
          <button type="submit" class="Login">LogIn</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Centered screenshot</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" fdprocessedid="kualc">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="442vq2">Secondary</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="images/bghero.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
  <section class="pt-8 pt-md-11 bg-gradient-light-white">
    <div class="container">
      <div class="row align-items-center justify-content-between mb-8 mb-md-11">
        <div class="col-12 col-md-6 order-md-2 aos-init aos-animate" data-aos="fade-left">

          <!-- Heading -->
          <h2>
            The most useful resource <br>
            <span class="text-success">ever created for <span data-typed="{&quot;strings&quot;: [&quot;developers.&quot;, &quot;founders.&quot;, &quot;designers.&quot;]}">designers.</span><span class="typed-cursor" aria-hidden="true">|</span></span>
          </h2>

          <!-- Text -->
          <p class="fs-lg text-muted mb-6">
            Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
          </p>

          <!-- List -->
          <div class="row">
            <div class="col-12 col-lg-6">

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p class="text-success">
                  Lifetime updates
                </p>

              </div>

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <p class="text-success mb-lg-0">
                  Tons of assets
                </p>

              </div>

            </div>
            <div class="col-12 col-lg-6 mb-6 mb-md-0">

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                  <i class="fe fe-check"></i>
                </span>

                <!-- Text -->
                <p class="text-success">
                  Tech support
                </p>

              </div>

              <!-- Item -->
              <div class="d-flex">

                <!-- Check -->
                <div class="badge badge-rounded-circle bg-success-soft me-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p class="text-success mb-0">
                  Integration ready
                </p>

              </div>

            </div>
          </div> <!-- / .row -->

        </div>
        <div class="col-12 col-md-6 col-lg-5 order-md-1 aos-init aos-animate" data-aos="fade-right">

          <!-- Card -->
          <div class="card shadow-light-lg lift lift-lg">

            <!-- Image -->
            <img src="assets/img/photos/photo-2.jpg" alt="..." class="card-img-top">

            <!-- Shape -->
            <div class="position-relative">
              <div class="shape shape-bottom shape-fluid-x text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                </div>
            </div>

            <!-- Body -->
            <div class="card-body">

              <!-- Form -->
              <form>
                <div class="form-floating">
                  <input type="text" class="form-control form-control-flush" id="cardName" placeholder="Name" fdprocessedid="lqv6rf">
                  <label for="cardName">Name</label>
                </div>
                <div class="form-floating">
                  <input type="email" class="form-control form-control-flush" id="cardEmail" placeholder="Email" fdprocessedid="ugvwdk">
                  <label for="cardEmail">Email</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control form-control-flush" id="cardPassword" placeholder="Password" fdprocessedid="uzq2ni">
                  <label for="cardPassword">Password</label>
                </div>
                <div class="mt-6">
                  <button class="btn w-100 btn-success lift" type="submit" fdprocessedid="9ltj87">
                    Download a sample
                  </button>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div> <!-- / .row -->
      <div class="row align-items-center">
        <div class="col-12 col-md-7 col-lg-6 aos-init aos-animate" data-aos="fade-right">

          <!-- Heading -->
          <h2>
            We have lots of experience <br>
            <span class="text-primary">building Bootstrap themes</span>.
          </h2>

          <!-- Text -->
          <p class="fs-lg text-muted mb-6">
            We've built well over a dozen Bootstrap themes and sold tens of thousands of copies.
          </p>

          <!-- List -->
          <div class="d-flex">

            <!-- Icon -->
            <div class="icon text-primary">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M12 8H8a4 4 0 00-4 4v1a3 3 0 003 3v2a5 5 0 01-5-5v-1a6 6 0 016-6h4V4.728a.5.5 0 01.8-.4l2.856 2.133a.5.5 0 01-.001.802l-2.857 2.121A.5.5 0 0112 8.983V8z" fill="#335EEA"></path><path d="M12.058 16H16a4 4 0 004-4v-1a3 3 0 00-3-3V6a5 5 0 015 5v1a6 6 0 01-6 6h-3.942v.983a.5.5 0 01-.798.401l-2.857-2.12a.5.5 0 010-.803l2.856-2.134a.5.5 0 01.8.401V16z" fill="#335EEA" opacity=".3"></path></g></svg>              </div>

            <div class="ms-5">

              <!-- Heading -->
              <h4 class="mb-1">
                Bootstrap users since the beginning
              </h4>

              <!-- Text -->
              <p class="text-muted mb-6">
                We've been developing with Bootstrap since it was publicly released in 2011.
              </p>

            </div>

          </div>
          <div class="d-flex">

            <!-- Icon -->
            <div class="icon text-primary">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"></rect></g></svg>              </div>

            <div class="ms-5">

              <!-- Heading -->
              <h4 class="mb-1">
                Deep understanding of Bootstrap
              </h4>

              <!-- Text -->
              <p class="text-muted mb-6 mb-md-0">
                We've watched Bootstrap grow up over the years and understand it better than almost anyone.
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-5 col-lg-6">

            <!-- Image -->
            <div class="img-skewed img-skewed-start">

              <!-- Image -->
              <img src="assets/img/screenshots/desktop/dashkit.jpg" class="screenshot img-fluid img-skewed-item" alt="...">

            </div>

          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>