.Login {
    color: white;
    background-color: #08376B;
    border-radius: 10px;
    border-style: none;
    padding: 0.2px;
    margin: 5px;
  }
  .about{
    padding: 20px;
    margin: 50px;
  }
  